@define-color bg      #24283b;
@define-color fg      #c0caf5;
@define-color muted   #565f89;
@define-color danger  #f7768e;
@define-color primary #9ece6a;
@define-color accent  #7dcfff;

* {
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
}

window {
  border: 1px solid @muted;
  background: @bg;
}

#input {
  border: 1px solid @muted;
  border-radius: 0;
  background: @bg;
  color: @fg;
}

#inner-box {
  border: 0;
  border-radius: 0;
}

#outer-box {
  border: 1px solid @muted;
}

#scroll {
}

#text {
  background: @bg;
  color: @fg;
}

#text:selected {
  background: @accent;
  color: @bg;
}

#entry {
  background: @bg;
  color: @fg;
}

#entry:selected {
  background: @accent;
  color: @bg;
}
