* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

#window {
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
}

#language {
  padding: 0 5px;
  background: transparent;
  border-bottom: 2px solid transparent;
}

#workspaces button {
  padding: 0 5px;
  color: white;
  background: transparent;
  border-bottom: 2px solid transparent;
}

#workspaces button.focused {
  border-bottom: 2px solid;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#mode {
  border-bottom: 2px solid white;
}

#clock,
#battery,
#pulseaudio,
#tray,
#mode,
#cpu,
#memory,
#network,
#network.disconnected,
#pulseaudio,
#pulseaudio.muted,
#tray,
#clock,
#battery,
#battery.charging {
  padding: 0 5px;
  margin: 0 5px;
}

@keyframes blink {
  to {
    color: red;
  }
}

#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
