@define-color bg      #21262d;
@define-color fg      #c9d1d9;
@define-color muted   #6e7681;
@define-color danger  #da3633;
@define-color primary #238636;
@define-color accent  #1f6feb;

* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: @bg;
  color: @fg;
}

#window {
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
}

#workspaces button {
  padding: 0 0.7rem;
  margin: 0 0.2rem;
  color: @fg;
  background: @bg;
}

#workspaces button.focused {
  background: @primary;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#mode {
  background: @danger;
}

#battery,
#battery.charging,
#clock,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#network.disconnected,
#pulseaudio,
#pulseaudio.muted,
#tray {
  padding: 0 0.7rem;
  margin: 0 0.2rem;
}

#battery.warning:not(.charging) {
  background: @danger;
}

#custom-dnf,
#custom-dnf.ok {
  padding: 0 0.7rem;
  margin: 0 0.2rem;
}

#custom-dnf.error {
  background: @danger;
}

#custom-dnf.update {
  background: @accent;
}
