@define-color bg      #292e42;
@define-color bg_dark #1f2335;
@define-color fg      #c0caf5;
@define-color muted   #565f89;
@define-color danger  #f7768e;
@define-color primary #9ece6a;
@define-color accent  #7dcfff;

* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: @bg_dark;
  color: @fg;
}

#window {
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
}

#workspaces button {
  padding: 0.2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.3rem;
  color: @fg;
  background: @bg;
}

#workspaces button.focused {
  background: @accent;
  color: @bg;
}

#workspaces button.urgent {
  background: @danger;
  color: @bg;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#battery,
#battery.charging,
#custom-dnf,
#custom-dnf.ok,
#clock,
#clock,
#language,
#mode,
#network,
#network.disconnected,
#pulseaudio,
#pulseaudio.muted,
#tray {
  padding: 0.2rem 0.6rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  background: @bg;
}

#custom-dnf.error,
#mode,
#battery.warning:not(.charging) {
  background: @danger;
  color: @bg;
}

#custom-dnf.update {
  background: @accent;
  color: @bg;
}
