* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #222222;
  color: white;
}

#window {
  font-weight: bold;
  font-family: "FiraCode Nerd Font";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
  padding: 0 8px;
  background: #222222;
  color: white;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  border-top: 2px solid;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode {
  padding: 0 3px;
  margin: 0 8px;
}

#clock {
  font-weight: bold;
}

#battery {
}

#battery.charging {
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
  background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}
